.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  button {
    padding: 10px;
    min-width: 200px;
    font-size: 20px;
    color: #eeeeee;
    border: none;
    cursor: pointer;
  }

  p {
    display: block;
    width: 100%;
    text-align: center;
  }

  &.in-progress {
    button {
      background-color: #ae5353;
    }
  }

  &.stopped {
    button {
      background-color: #599859;
    }
  }
}

.info {
  text-align: center;
}
